<h2>Sign Up</h2>
<a href="#/signin">Sign in</a>
<form name="signup" ng-submit="submit()">
    <label>
        <span ng-class="{shown: email}">Email:</span>
        <input type="text" placeholder="Email" spellcheck="false" ng-model="email" required>
    </label>
    <label>
        <span ng-class="{shown: username}">Username:</span>
        <input type="text" placeholder="Username" ng-model="username" required>
    </label>
    <label>
        <span ng-class="{shown: password}">Password:</span>
        <input type="password" placeholder="Password" ng-model="password" required>
    </label>
    <span class="form-error">Fix mistakes and try again.</span>
    <input type="submit">
</form>