<h2>Sign In</h2>
<a href="#/signup">Sign up</a>
<form name="signin" ng-submit="submit()">
    <label>
        <span ng-class="{shown: username}">Username</span>
        <input type="text" placeholder="Username" ng-model="username" required autofocus>
    </label>
    <label>
        <span ng-class="{shown: password}">Password</span>
        <input type="password" placeholder="Password" ng-model="password" required>
    </label>
    <span class="form-error">Fix mistakes and try again.</span>
    <input type="submit">
</form>