<!DOCTYPE html>
<html ng-app="lockdown" ng-csp>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="popup.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <header><img src="images/lockdown32.png" alt="Lockdown"><h1>Lockdown</h1></header>
    
    <div class="content slide" ng-view></div>

    <script src="sjcl/sjcl.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="popup.js"></script>
</body>

</html>
